(
  axes: {
    "move_horizontal": Emulated(pos: Key(Right), neg: Key(Left)),
    "move_vertical": Emulated(pos: Key(Up), neg: Key(Down)),
  },
  actions: {
    // "move_up": Key(Up),
    // "move_down": Key(Down),
    // "move_left": Key(Left),
    // "move_right": Key(Right),
  },
)