#![enable(implicit_some)]
Prefab(
    entities: [
        PrefabEntity(
            data: CharacterPrefab(
                glyph: Glyph('@'),
                variant: PlayerCharacter(PlayerCharacter),
            ),
        ),
        // PrefabEntity(
        //     data: PlayerCharacterPrefab(
        //         glyph: Glyph('@'),
        //         player_character: PlayerCharacter,
        //     ),
        // ),
        // PrefabEntity(
        //     data: PlayerCharacterPrefab(
        //         glyph: Glyph('t'),
        //     ),
        // ),
    ],
)