#![enable(implicit_some)]
(
    entities: [
        (
            data: CharacterPrefab(
                glyph: '@',
                variant: PlayerCharacter,
                position: Position(x: 20, y: 10),
            ),
        ),
    ],
)